.body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.box{
    width: 300px;
    padding: 30px;
    position: absolute;
    top: 20%;
    left: 40%;
    background: black;
    border-radius: 10px;
    opacity: 80%;
    box-shadow: 22px -20px 15px 5px #404040;
    
}
.h3{
    text-align: center;
    font-size: 50px;
    color: red;
    text-shadow: 1px 1px 5px #404040;
}
.login{
    color: white;
    font-weight: bold;
    font-family: Times, serif;
}
.usr{
    text-align: center;
    border-radius: 10px;
}
.pass{
    text-align: center;
    border-radius: 10px;
}
.btn{
    text-align: center;
    color: white;
    border-color: #1bcc5c;
    border-radius: 10px;
    background-color: #1bcc5c;
}
.sign{
    color: white;
}
.sign1{
    color: green;
    text-decoration: none;
}
.sign1 hover{
    text-decoration: underline;
}